# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Laboratorio 1: Inversión de Capital                                                        -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- author: anamaria1404 y Galileatr                                                                    -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: https://github.com/anamaria1404/Laboratorio-I                                           -- #
# -- --------------------------------------------------------------------------------------------------- -- #

pandas>=1.1.1
numpy>=1.19.1
jupyter>=1.0.0
yfinance>=0.1.55
DateTime>=4.3
statistics>=1.0.3.5
matplotlib>=3.3.4
